<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="PathOfGodsConfig" value="C:\Users\patri\Documents\Visual Studio 2015\Projects\DankSmiteOnline2\Config\Gods.json"/>
    
    <add key="PathOfStarterItemsConfig" value="C:\Users\patri\Documents\Visual Studio 2015\Projects\DankSmiteOnline2\Config\StarterItems.json"/>
    <add key="PathOfBootsConfig" value="C:\Users\patri\Documents\Visual Studio 2015\Projects\DankSmiteOnline2\Config\Boots.json"/>
    <add key="PathOfNormalItemsConfig" value="C:\Users\patri\Documents\Visual Studio 2015\Projects\DankSmiteOnline2\Config"/>
    <add key="PathOfRelicsConfig" value="C:\Users\patri\Documents\Visual Studio 2015\Projects\DankSmiteOnline2\Config\Relics.json"/>
    
  </appSettings>
</configuration>